.kws {
  font-family: "PingFang-SC", Arial;
  overflow: hidden;
  position: absolute;
  font-size: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
.kws .loading {
  display: -webkit-box;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #fff;
}
.kws .loading > div {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.kws .loading .load-img {
  width: 120px;
  height: auto;
}
.kws .loading .load-txt {
  font-size: 14px;
  color: #999;
  text-align: center;
}
.kws .loading .load-btn {
  color: #999;
  text-align: center;
  height: 30px;
}
.kws .loading .load-btn > p {
  margin: 5px auto 0;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  width: 70px;
  border: 1px solid #ccc;
  opacity: 0;
  animation: appear 1s linear infinite alternate;
  -webkit-animation: appear 1s linear infinite alternate;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.kws #video {
  /* object-fit: fill; */
  object-fit: contain;
  /* width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0; */
}

.kws .jump {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.kws .bgTip {
  display: -webkit-box;
  box-align: center;
  -webkit-box-align: center;
  box-pack: center;
  -webkit-box-pack: center;
  color: #666;
  font-size: 16px;
  background: #eee;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.kws .hide {
  display: none !important;
}
